{
  "extends": [
    "plugin:prettier/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended"
  ],
  "plugins": [
    "react",
    "prettier",
    "react-hooks",
    "jsx-a11y",
    "import",
    "@typescript-eslint"
  ],
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "jest": true
  },
  "rules": {
    "react/prop-types": [0],
    "react/no-unescaped-entities": [0],
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true
      }
    ],
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": ["error"]
  },
  "parser": "@typescript-eslint/parser",
  "globals": {
    "page": true,
    "browser": true,
    "context": true,
    "jestPuppeteer": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
